<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div style="padding: 10px;">
	<table class="easyui-datagrid" style="height: auto">
		<thead>
			<tr>
				<th data-options="field:'priority'">活动级别</th>
				<th data-options="field:'priority'">活动名称</th>
				<th data-options="field:'state'">开始时间</th>
				<th data-options="field:'subject'">活动地点</th>
				<th data-options="field:'type'">人数限制</th>
				<th data-options="field:'sender'">发送方</th>
				<th data-options="field:'senddate'">活动预约</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>院级</td>
				<td>军训新生朗诵比赛</td>
				<td>2017年11月3日</td>
				<td>影剧院</td>
				<td>200</td>
				<td>软件学院</td>
				<td><a href="javaScript:void(0)">预约</a></td>
			</tr>
			<tr>
				<td>社团</td>
				<td>街舞表演</td>
				<td>2017年11月3日</td>
				<td>影剧院</td>
				<td>200</td>
				<td>外语学院</td>
				<td><a href="javaScript:void(0)">预约</a></td>
			</tr>
		</tbody>
	</table>
</div>